<div _ngcontent-gap-c52="" class="content-header">
    <div _ngcontent-gap-c52="" class="container-fluid">
        <div _ngcontent-gap-c52="" class="row mb-2">
            <div _ngcontent-gap-c52="" class="col-sm-6">
                <h1 _ngcontent-gap-c52="" class="m-0">Proveedores</h1>
            </div>
            <div _ngcontent-gap-c52="" class="col-sm-6">
                <ol _ngcontent-gap-c52="" class="breadcrumb float-sm-right">
                    <li _ngcontent-gap-c52="" class="breadcrumb-item"><a _ngcontent-gap-c52="" href="#">Inicio</a></li>
                    <li _ngcontent-gap-c52="" class="breadcrumb-item active">Proveedores</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="card">
        <div class="card-header border-0">
            <div class="card-tools">
              <div style="text-align: left;">
              <a (click)="getTodosLosProveedores()" class="btn btn-tool btn-sm">
                    <i class="ion ion-ios-refresh-empty"></i></a>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-update" (click)="limpiarSeleccionado()">
                      Nuevo Proveedor
                    </button>
            </div>
            </div>
        </div>
        <div class="card-body table-responsive p-0">
            <table class="table table-striped table-valign-middle">
                <thead>
                    <tr>
                        <th>Id Proveedor</th>
                        <th>Tipo de Documento</th>
                        <th>Documento</th>
                        <th>Primer Nombre</th>
                        <th>Segundo Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Nombre de Contacto</th>
                        <th>Ciudad Proveedor</th>
                        <th>Tipo de Proveedor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of proveedorData">
                        <td>{{ item.idProveedor }}</td>
                        <td>{{ item.tipoDocumentoPro}}</td>
                        <td>{{item.documentoPro}}</td>
                        <td>{{ item.pNombre}}</td>
                        <td>{{ item.sNombre}}</td>
                        <td>{{item.pApellido}}</td>
                        <td>{{ item.sApellido}}</td>
                        <td>{{ item.nombreContacto}}</td>
                        <td>{{item.ciudadProv}}</td>
                        <td>{{ item.tipoProveedor}}</td>
                        <td>
                          <a href="#" class="text-muted" (click)="setSeleccionado(item)" data-toggle="modal" data-target="#modal-update">
                            <i class="fas fa-pen"></i>
                          </a>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</section>
<div class="modal fade" id="modal-update">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title"></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="card-body">
                <div class="form-group">
                    <label>Tipo de documento</label>
                    <select class="form-control" [(ngModel)]="tipoDocSeleccionado" name="tipoDocumentoPro">
                      <option *ngFor="let item of tiposDocumento" [value]="item.idCatalogo">{{item.denominacionCat}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Documento</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.documentoPro" name="documentoPro">
                  </div>
                  <div class="form-group">
                    <label>Primer Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.pNombre" name="pNombre">
                  </div>
                  <div class="form-group">
                    <label>Segundo Nombre</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.sNombre" name="sNombre">
                  </div>
                  <div class="form-group">
                    <label>Primer Apellido</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.pApellido" name="pApellido">
                  </div>
                  <div class="form-group">
                    <label>Segundo Apellido</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.sApellido" name="sApellido">
                  </div>
                  <div class="form-group">
                    <label>Nombre de Contacto</label>
                    <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.nombreContacto" name="nombreContacto">
                  </div>
                  <div class="form-group">
                    <label>Ciudad Proveedor</label>
                    <select class="form-control" [(ngModel)]="ciudadSeleccionada" name="ciudadProv">
                      <option *ngFor="let item of ciudadProveedor" [value]="item.idCatalogo">{{item.denominacionCat}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Tipo de Proveedor</label>
                    <select class="form-control" [(ngModel)]="tipoProveedorSeleccionado" name="tipoProveedor">
                      <option *ngFor="let item of tipoProveedor" [value]="item.idCatalogo">{{item.denominacionCat}}
                      </option>
                    </select>
                  </div>
            </div>
            <!-- /.card-body -->
          </form>
        </div>
        <div class="modal-footer justify-content-between" *ngIf="nuevoProveedor">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearProveedor(itemSeleccionado)">Guardar</button>
        </div>
        <div class="modal-footer justify-content-between" *ngIf="!nuevoProveedor">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarProveedor(itemSeleccionado)">Guardar</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->