<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Catálogo Universal</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Catálogo Universal</li>
        </ol>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="card">
    <div class="card-header border-0">
      <div class="input-group searchid">
        <input type="number"  [(ngModel)]="idcatalogo" class="form-control form-control-lg" placeholder="Id catalogo">
        <div class="input-group-append">
          <button (click)="filtrarDatos()" type="submit" class="btn btn-lg btn-default">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
      <div class="card-tools">
        <div style="text-align: left;">
          <a (click)="getTodosLosCatalogos()" class="btn btn-tool btn-sm">
            <i class="ion ion-ios-refresh-empty"></i>
          </a>
          <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-update"
            (click)="limpiarSeleccionado()">
            Nuevo Catalogo
          </button>
        </div>
      </div>
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-striped table-valign-middle">
        <thead>
          <tr>
            <th>Id Catalogo</th>
            <th>Catalogo</th>
            <th>Categoría</th>
            <th>Llave Foránea</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of catalogoData">
            <td>{{ item.idCatalogo }}</td>
            <td>{{ item.denominacionCat }}</td>
            <td>{{ item.catalogoCat}}</td>
            <td>{{ item.llaveForanea }}</td>
            <td>
              <a href="#" class="text-muted" (click)="setSeleccionado(item)" data-toggle="modal"
                data-target="#modal-update">
                <i class="fas fa-pen"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<div class="modal fade" id="modal-update">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="card-body">
            <div class="form-group">
              <label>Catalogo</label>
              <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.denominacionCat"
                name="denominacionCat">
            </div>
            <div class="form-group">
              <label>Categoria</label>
              <select class="form-control" [(ngModel)]="itemSeleccionado.catalogoCat" name="catalogoCat">
                <option *ngFor="let item of categoriasCatalogo" [value]="item.denominacionCat">{{item.denominacionCat}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Llave Foránea</label>
              <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.llaveForanea" name="llaveForanea">
            </div>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer justify-content-between" *ngIf="nuevoCatalogo">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="crearCatalogo(itemSeleccionado)">Guardar</button>
      </div>
      <div class="modal-footer justify-content-between" *ngIf="!nuevoCatalogo">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="actualizarCatalogo(itemSeleccionado)">Guardar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->