<section class="content">
  <div class="container-fluid">
    <div class="card card-success">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2 bg-gradient-dark">
              <img class="card-img-top" src="assets/img/photo1.png" alt="Dist Photo 1">
              <div class="card-img-overlay d-flex flex-column justify-content-end">
                <h5 class="card-title text-primary text-white">Productos</h5>
                <p class="card-text text-white pb-2 pt-1">Encontraras productos de diferentes categorías, marcas y proveedores reconocidos a nivel nacional.</p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/img/photo2.png" alt="Dist Photo 2">
              <div class="card-img-overlay d-flex flex-column justify-content-center">
                <h5 class="card-title text-white mt-5 pt-2">Servicios</h5>
                <p class="card-text pb-2 pt-1 text-white">
                  Inventarios, <br>
                  Gestión eficiente de los productos de tu empresa. <br>
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-xl-4">
            <div class="card mb-2">
              <img class="card-img-top" src="assets/img/photo3.jpg" alt="Dist Photo 3">
              <div class="card-img-overlay">
                <h5 class="card-title text-primary">Contacto</h5>
                <p class="card-text pb-1 pt-1 text-white">
                  StockMaster <br>
                  Avenida Chilacos 123 <br>
                  Telefono: 7550822 <br>
                  E-mail: stockmaster@gmail.com </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body pb-0">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                Desarrolladora Junior
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>Luz Angela Gomez</b></h2>
                    <p class="text-muted text-sm"><b>Acerca de mi: </b> Estudiante de Ingenieria de Sistemas y Computación/ Universidad de Cundinamarca</p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: Juanchito 321</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: 7550822</li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <img src="../../assets/img/fotoLuzAngela.jpg" alt="user-avatar" class="img-circle img-fluid">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Ver perfil
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                Desarrollador Junior
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>Andres Daniel Fajardo</b></h2>
                    <p class="text-muted text-sm"><b>Acerca de mi: </b> Estudiante de Ingenieria de Sistemas y Computación/ Universidad de Cundinamarca</p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: Avenida Siempre Viva  742</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: 7550822</li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <img src="../../assets/img/Daniel.jpeg" alt="user-avatar" class="img-circle img-fluid">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Ver perfil
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch flex-column">
            <div class="card bg-light d-flex flex-fill">
              <div class="card-header text-muted border-bottom-0">
                Desarrollador Junior
              </div>
              <div class="card-body pt-0">
                <div class="row">
                  <div class="col-7">
                    <h2 class="lead"><b>Julian René Plata</b></h2>
                    <p class="text-muted text-sm"><b>Acerca de mi: </b> Estudiante de Ingenieria de Sistemas y Computación/ Universidad de Cundinamarca</p>
                    <ul class="ml-4 mb-0 fa-ul text-muted">
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Direccion: Arbolito 123</li>
                      <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Telefono #: 7550822</li>
                    </ul>
                  </div>
                  <div class="col-5 text-center">
                    <img src="../../assets/img/Julian.jpeg" alt="user-avatar" class="img-circle img-fluid">
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <div class="text-right">
                  <a href="#" class="btn btn-sm bg-teal">
                    <i class="fas fa-comments"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-primary">
                    <i class="fas fa-user"></i> Ver perfil
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>