<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">Productos</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Inicio</a></li>
          <li class="breadcrumb-item active">Productos</li>
        </ol>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="card">
    <div class="card-header border-0">
      <div class="card-tools">
        <div style="text-align: left">
        <a (click)="getTodosLosProductos()" class="btn btn-tool btn-sm">
          <i class="ion ion-ios-refresh-empty"></i>
        </a>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-update" (click)="limpiarSeleccionado()">
          Nuevo Producto
        </button>
      </div>
      </div>
    </div>
    <div class="card-body table-responsive p-0">
      <table class="table table-striped table-valign-middle">
        <thead>
          <tr>
            <th>Id Producto</th>
            <th>Categoria</th>
            <th>Nombre</th>
            <th>Tamaño</th>
            <th>Marca</th>
            <th>Capacidad Nueva Orden</th>
            <th>Dias de espera</th>
            <th>Editar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of productoData">
            <td>{{ item.idProducto }}</td>
            <td>{{ item.categoriaPro }}</td>
            <td>{{item.nombreProd}}</td>
            <td>{{ item.tamanoProd}}</td>
            <td>{{ item.marcaProd}}</td>
            <td>{{item.capacidadNuevaOrden}}</td>
            <td>{{ item.diasEspera}}</td>
            <td>
              <a href="#" class="text-muted" (click)="setSeleccionado(item)" data-toggle="modal" data-target="#modal-update">
                <i class="fas fa-pen"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<div class="modal fade" id="modal-update">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"></h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="card-body">
            <div class="form-group">
              <label>Categoria</label>
              <select class="form-control" [(ngModel)]="categoriaSeleccionada" name="categoriaPro">
                <option *ngFor="let item of categoriasProducto" [value]="item.idCatalogo">{{item.denominacionCat}}
                </option>
              </select>
            </div>
            <div class="form-group">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.nombreProd" name="nombreProd">
            </div>
            <div class="form-group">
              <label>Tamaño</label>
              <input type="text" class="form-control" [(ngModel)]="itemSeleccionado.tamanoProd" name="tamanoProd">
            </div>
            <div class="form-group">
              <label>Marca</label>
              <select class="form-control"  [(ngModel)]="marcaSeleccionada" name="marcaProd">
                <option *ngFor="let item of marcasProducto" [value]="item.idCatalogo">{{item.denominacionCat}}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Capacidad Nueva Orden</label>
              <input type="number" class="form-control"  [(ngModel)]="itemSeleccionado.capacidadNuevaOrden" name="capacidadNuevaOrden">
            </div>
            <div class="form-group">
              <label>Días de espera</label>
              <input type="number" class="form-control"  [(ngModel)]="itemSeleccionado.diasEspera" name="diasEspera">
            </div>
          </div>
          <!-- /.card-body -->
        </form>
      </div>
      <div class="modal-footer justify-content-between" *ngIf="nuevoProducto">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearProducto(itemSeleccionado)">Guardar</button>
      </div>
      <div class="modal-footer justify-content-between" *ngIf="!nuevoProducto">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="actualizarProducto(itemSeleccionado)">Guardar</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->