<body>

    <div style="text-align:center">
      <h1>{{ title }}</h1>
      <img width="300" alt="Logo Proyecto" src="/assets/CatalogoUniversal.jpg">
    </div>
  
    <br><br>
  
    <div class="dir">
  
      <h3><a routerLink="/Personas">PERSONAS</a></h3>
  
    </div>
    <br><br>
  
    <!--------------------------------------------------------------------------------------------->
    <!-- para mostrar los Catalogos Totales -->
  
    <div class="listaU">
        
      <h2>Todos los Catalogos</h2>
  
      <form (ngSubmit)="consultaCatalogosTotales()" [formGroup]="ListarCatTotales">
        
          <button type="submit" style="margin-right: 30px" >Listar todos los Catalogos</button>
          <button (click)="LimpiarLista()" style="scroll-margin-left: 30px">Linpiar todos los Catalogos</button>
        
          <br><br> 
  
          <h2>{{tituloCataUniLista}}</h2>   
          <table> 
              <thead>
                  <th>{{tablacatalogosstotales[0]}}</th>
                  <th>{{tablacatalogosstotales[1]}}</th> 
                  <th>{{tablacatalogosstotales[2]}}</th> 
                  <th>{{tablacatalogosstotales[3]}}</th> 
              </thead>
  
              <tbody>
                  <tr *ngFor="let catu of CataUniT">
                      
                    <th> {{ catu.id_universal }} </th>
                    <th>{{ catu.denominacion_universal }} </th>
                    <th>{{ catu.catalogo_universal }} </th>
                    <th>{{ catu.llaveforanea}} </th>
                      
                  </tr>
              </tbody> 
            </table>
  
        </form>
        
    </div>
    <br><br>
    
  <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo Colores -->

  <div class="colo">
    <h2>Mostramos el Catalogo de Colores: </h2>

    <form (ngSubmit)="ListarCatalogoE(1)" [formGroup]="CBCatalogoColor">
      Colores 
      <select class="dropdown"  style="width: 150px" formControlName="CatColorfiltro" (click)="ListarCatalogoE(2)">
          <option value="value1">Colores</option>
          <option *ngFor="let lor of CataUniColor" [value]="lor.id_universal">
            {{lor.denominacion_universal}}
          </option>
      </select>

    <button (click)="SelecCatalogoE(2, 1)">Buscar valor a guardar</button>
    <br>      <br>
      <li *ngFor="let colo of CataUniColorSel">
         Valor selecionado
        <label for="EColor"><input type="text" name="EColor" id="EColor" value={{colo.denominacion_universal}} 
                [(ngModel)]="colo.id_universal" [value]="colo.id_universal" formControlName="textColor"></label>    
      </li>
      <br> 

    </form>

    <br>

  </div>
  <br><br>
      
  <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo Tipos de Vehiculo -->

  <div class="Tipveh">
      <h2>Mostramos el Catalogo de Tipos de Vehículo: </h2>
  
      <form (ngSubmit)="ListarCatalogoE(1)" [formGroup]="CBCatalogoTipVehi">
        Tipos de Vehículos 
        <select class="dropdown"  style="width: 150px" formControlName="CatTipVehifiltro" (click)="ListarCatalogoE(3)">
            <option value="value1">Tipos de Vehículos</option>
            <option *ngFor="let TiVe of CataUniTipVehi" [value]="TiVe.id_universal">
              {{TiVe.denominacion_universal}}
            </option>
        </select>
  
      <button (click)="SelecCatalogoE(3, 1)">Buscar valor a guardar</button>
      <br>      <br>
        <li *ngFor="let tipveh of CataUniTipVehiSel">
           Valor selecionado
          <label for="ETipVeh"><input type="text" name="ETipVeh" id="ETipVeh" value={{tipveh.id_universal}} 
                [(ngModel)]="tipveh.id_universal" [value]="tipveh.id_universal" formControlName="textTivVehi"></label>    
        </li>
        <br> 
  
      </form>
  
      <br>
  
    </div>
    <br><br>
          
  <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo Marca -->

  <div class="Marc">
      <h2>Mostramos el Catalogo de Marcas: </h2>
  
      <form (ngSubmit)="ListarCatalogoE(4)" [formGroup]="CBCatalogoMarca">
        Marcas
        <select class="dropdown"  style="width: 150px" formControlName="CatMarcafiltro" (click)="ListarCatalogoE(4)">
            <option value="value1">Marcas</option>
            <option *ngFor="let Marc of CataUniMarca" [value]="Marc.id_universal">
              {{Marc.denominacion_universal}}
            </option>
        </select>
  
      <button (click)="SelecCatalogoE(4, 1)">Buscar valor a guardar</button>
      <br>      <br>
        <li *ngFor="let Mar of CataUniMarcaSel">
           Valor selecionado
          <label for="EMarca"><input type="text" name="EMarca" id="EMarca" value={{Mar.id_universal}} 
                [(ngModel)]="Mar.id_universal" [value]="Mar.id_universal" formControlName="textMarca"></label>    
        </li>
        <br> 
  
      </form>
  
      <br>
  
    </div>
    <br><br>

  <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo de Tipos de Documentos -->

  <div class="TipDocc">
    <h2>Mostramos el Catalogo de Tipos de Documentos: </h2>

    <form (ngSubmit)="ListarCatalogoE(5)" [formGroup]="CBCatalogoTipDoc">
      Tipos de Documentos
      <select class="dropdown"  style="width: 150px" formControlName="CatTipDocfiltro" (click)="ListarCatalogoE(5)">
          <option value="value1">Tipos Documentos</option>
          <option *ngFor="let tidos of CataUniTipDoc" [value]="tidos.id_universal">
            {{tidos.denominacion_universal}}
          </option>
      </select>

    <button (click)="SelecCatalogoE(5, 1)">Buscar valor a guardar</button>
    <br>      <br>
      <li *ngFor="let tido of CataUniTipDocSel">
         Valor selecionado
        <label for="ETipDoc"><input type="text" name="ETipDoc" id="ETipDoc" value={{tido.id_universal}} 
              [(ngModel)]="tido.id_universal" [value]="tido.id_universal" formControlName="textTivDoc"></label>    
      </li>
      <br> 

    </form>

    <br>

  </div>
  <br><br>

    <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo de Tipos de Documentos -->

  <div class="Epps">
    <h2>Mostramos el Catalogo de EPS: </h2>

    <form (ngSubmit)="ListarCatalogoE(6)" [formGroup]="CBCatalogoEps">
      EPS
      <select class="dropdown"  style="width: 150px" formControlName="CatEpsfiltro" (click)="ListarCatalogoE(6)">
          <option value="value1">EPS</option>
          <option *ngFor="let epss of CataUniEps" [value]="epss.id_universal">
            {{epss.denominacion_universal}}
          </option>
      </select>

    <button (click)="SelecCatalogoE(6, 1)">Buscar valor a guardar</button>
    <br>      <br>
      <li *ngFor="let epso of CataUniEpsSel">
         Valor selecionado
        <label for="EEps"><input type="text" name="EEps" id="EEps" value={{epso.id_universal}} 
              [(ngModel)]="epso.id_universal" [value]="epso.id_universal" formControlName="textEps"></label>    
      </li>
      <br> 

    </form>

    <br>

  </div>
  <br><br>
  
    <!--------------------------------------------------------------------------------------------->
  <!-- para mostrar un solo Catalogo de Tipos de Documentos -->

  <div class="pref">
    <h2>Mostramos el Catalogo de Preferencias Sexuales: </h2>

    <form (ngSubmit)="ListarCatalogoE(7)" [formGroup]="CBCatalogoPrefSexual">
      Preferencias Sexuales
      <select class="dropdown"  style="width: 150px" formControlName="CatPrefSexualfiltro" (click)="ListarCatalogoE(7)">
          <option value="value1">Preferencias Sexuales</option>
          <option *ngFor="let pfs of CataUniPrefSexual" [value]="pfs.id_universal">
            {{pfs.denominacion_universal}}
          </option>
      </select>

    <button (click)="SelecCatalogoE(7, 1)">Buscar valor a guardar</button>
    <br>      <br>
      <li *ngFor="let pfse of CataUniPrefSexualSel">
         Valor selecionado
        <label for="Epfse"><input type="text" name="Epfse" id="Epfse" value={{pfse.id_universal}} 
              [(ngModel)]="pfse.id_universal" [value]="pfse.id_universal" formControlName="textPrefSexual"></label>    
      </li>
      <br> 

    </form>

    <br>

  </div>
  <br><br>
  
  <div class="dir">

    <h3><a routerLink="/Personas">PERSONAS</a></h3>

  </div>